:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-text-primary: #212832;
  --clr-text-secondary: #5e6282;
  --clr-bg-orange: #df6951;
  --clr-text-yellow: #f1a501;
  --w-container: 1160px;
  --p-container: 30px;
}
