.header {
  &__body {
    display: flex;
    align-items: center;
    padding: 47px 0;
  }

  &__logo {
    margin-right: auto;
  }
}

.logo {
  display: inline-block;

  & > img {
    width: 115px;
    height: auto;
  }
}

.menu {
  margin: 0 auto;

  &__list {
    display: flex;
    gap: 55px;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: inline-block;

    color: var(--clr-text-primary);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    text-decoration: none;

    transition: color 0.2s ease-in-out 0s;

    &:hover {
      color: var(--clr-text-yellow);
    }

    &:active {
      color: var(--clr-text-yellow);
    }
  }
}

.header-account {
  &__list {
    display: flex;
    gap: 52px;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    display: inline-block;

    color: var(--clr-text-primary);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    text-decoration: none;

    transition: color 0.2s ease-in-out 0s;

    &:hover {
      color: var(--clr-text-yellow);
    }

    &:active {
      color: var(--clr-text-yellow);
    }

    &_outline {
      display: inline-block;
      padding: 9px 21px;

      border: 1px solid #212832;
      border-radius: 5px;

      transition:
        color 0.2s ease-in-out 0s,
        border 0.2s ease-in-out 0s;

      &:hover {
        border-color: var(--clr-text-yellow);
      }
    }
  }
}

.lang-switcher {
  position: relative;

  margin-left: 42px;

  text-transform: uppercase;

  &__current-lang-btn {
    display: flex;
    gap: 6.5px;
    align-items: center;
    padding: 0;

    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    text-transform: uppercase;

    background: none;

    border: none;

    transition: color 0.2s ease-in-out 0s;

    &:active {
      color: var(--clr-text-yellow);
    }

    &:hover {
      color: var(--clr-text-yellow);
    }

    & > svg {
      width: 10px;
      height: auto;

      transition: transform 0.2s ease-in-out 0s;
    }

    &_active {
      & > svg {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    margin: 0;
    padding: 0;

    color: var(--clr-text-primary);

    list-style: none;

    background-color: var(--clr-white);
    border: 1px solid var(--clr-text-primary);
    border-radius: 5px;
    transform: translate(-6px, 10px);
    visibility: hidden;
    opacity: 0;

    transition:
      transform 0.2s ease-in-out 0s,
      opacity 0.2s ease-in-out 0s,
      visibility 0.2s ease-in-out 0s;

    pointer-events: none;

    &_show {
      transform: translate(-6px, 5px);
      visibility: visible;
      opacity: 1;

      pointer-events: all;
    }
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__lang-btn {
    display: inline-block;
    width: 100%;
    padding: 7px 10px;

    color: var(--clr-text-primary);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    text-transform: uppercase;

    background: none;

    border: none;

    transition: color 0.3s ease-in-out 0s;

    &:active {
      color: var(--clr-text-yellow);
    }

    &:hover {
      color: var(--clr-text-yellow);
    }
  }
}
