<section class="mt-[97px] font-medium">
  <div class="container xl:max-w-[1190px]">
    <div class="relative">
      <img
        class="absolute -right-[70px] -top-[30px] h-auto w-[153px]"
        width="153"
        height="166"
        src="/imgs/category-decor-plus.svg"
        alt="Category decor plu"
      />
      <p class="text-center text-[18px] font-semibold uppercase leading-[24px]">
        Category
      </p>
      <h2
        class="mt-[10px] text-center text-[50px] font-bold capitalize leading-[66px] text-[#14183E]"
      >
        We Offer Best Services
      </h2>
      <ul class="mt-[68px] grid grid-cols-4 gap-x-[35px]">
        <li
          class="category-item flex min-h-[314px] flex-col items-center rounded-[36px] bg-white px-[43px] py-[45px] text-center"
        >
          <h3 class="text-[20px] font-semibold leading-[27px]">
            Calculated Weather
          </h3>
          <p class="mt-[15px]">
            Built Wicket longer admire do barton vanity itself do in it.
          </p>
        </li>
        <li
          class="category-item relative flex min-h-[314px] flex-col items-center rounded-[36px] bg-white px-[43px] py-[45px] text-center"
        >
          <img
            class="absolute -bottom-[33px] -left-[35px] -z-[1] h-auto w-[100px]"
            src="/imgs/category-decor-item.png"
            width="100"
            height="100"
            alt="Category decor item"
          />
          <h3 class="text-[20px] font-semibold leading-[27px]">Best Flights</h3>
          <p class="mt-[15px]">
            Engrossed listening. Park gate sell they west hard for the.
          </p>
        </li>
        <li
          class="category-item flex min-h-[314px] flex-col items-center rounded-[36px] bg-white px-[43px] py-[45px] text-center"
        >
          <h3 class="text-[20px] font-semibold leading-[27px]">Local Events</h3>
          <p class="mt-[15px]">
            Barton vanity itself do in it. Preferd to men it engrossed
            listening.
          </p>
        </li>
        <li
          class="category-item flex min-h-[314px] flex-col items-center rounded-[36px] bg-white px-[43px] py-[45px] text-center"
        >
          <h3 class="text-[20px] font-semibold leading-[27px]">
            Customization
          </h3>
          <p class="mt-[15px]">
            We deliver outsourced aviation services for military customers
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
