<footer class="font-medium">
  <div class="container xl:max-w-[1190px]">
    <div class="pb-[79px] pt-[166px]">
      <div class="mt-[84px]">
        <p class="text-center text-[14px] leading-[19px]">
          <span>All rights</span>
          <a
            class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
            href="mailto:reserved@jadoo.co"
            >reserved@jadoo.co</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
