<footer class="font-medium">
  <div class="container xl:max-w-[1190px]">
    <div class="px-[40px] pb-[79px] pt-[166px]">
      <div class="flex justify-between">
        <div>
          <a
            class="inline-block text-[44px] font-medium leading-[57px] text-[#181E4B] transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
            href="#home"
            aria-label="Home"
            >Jadoo.</a
          >
          <p
            class="mt-[19px] max-w-[207px] text-[14px] font-normal leading-[19px]"
          >
            Book your trip in minute, get full Control for much longer.
          </p>
        </div>
        <div>
          <p class="text-[20px] font-bold leading-[27px] text-[#080809]">
            Company
          </p>
          <ul class="mt-[34px] flex flex-col gap-y-[13px]">
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#about"
                >About</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#careers"
                >Careers</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#mobile"
                >Mobile</a
              >
            </li>
          </ul>
        </div>
        <div>
          <p class="text-[20px] font-bold leading-[27px] text-[#080809]">
            Contact
          </p>
          <ul class="mt-[34px] flex flex-col gap-y-[13px]">
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#help-faq"
                >Help/FAQ</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#press"
                >Press</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#affilates"
                >Affilates</a
              >
            </li>
          </ul>
        </div>
        <div>
          <p class="text-[20px] font-bold leading-[27px] text-[#080809]">
            More
          </p>
          <ul class="mt-[34px] flex flex-col gap-y-[13px]">
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#airlinefees"
                >Airlinefees</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#airline"
                >Airline</a
              >
            </li>
            <li class="flex">
              <a
                class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
                href="#low-fare-tips"
                >Low fare tips</a
              >
            </li>
          </ul>
        </div>
        <div>
          <ul class="flex items-center gap-x-[25px]">
            <li class="flex">
              <a
                class="flex h-[41px] w-[41px] items-center justify-center rounded-full bg-[#FFFFFF] text-[#080809] shadow-[0px_2px_10px_rgba(0,0,0,0.10)] focus:outline-none focus-visible:outline-[#F1A501]"
                href="#facebook"
                aria-label="Facebook"
                title="Facebook"
              ></a>
            </li>
            <li class="flex">
              <a
                class="flex h-[41px] w-[41px] items-center justify-center rounded-full bg-[#FFFFFF] text-[#080809] shadow-[0px_2px_10px_rgba(0,0,0,0.10)] focus:outline-none focus-visible:outline-[#F1A501]"
                href="#instagram"
                aria-label="Instagram"
                title="Instagram"
              ></a>
            </li>
            <li class="flex">
              <a
                class="flex h-[41px] w-[41px] items-center justify-center rounded-full bg-[#FFFFFF] text-[#080809] shadow-[0px_2px_10px_rgba(0,0,0,0.10)] transition-[opacity] duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
                href="#twitter"
                aria-label="Twitter"
                title="Twitter"
              ></a>
            </li>
          </ul>
          <dl class="mt-[30px] grid grid-cols-2 gap-x-[7px] gap-y-[16px]">
            <dt class="col-span-full text-[20px] leading-[27px]">
              Discover our app
            </dt>
            <dd class="h-min">
              <a
                class="inline-block h-auto w-[107px] focus:outline-none focus-visible:outline-[#F1A501]"
                href="#google-play"
                aria-label="Google Play"
                title="Google Play"
              >
                <img
                  src="/imgs/google-play.svg"
                  width="107"
                  height="35"
                  alt="Google Play"
                  title="Google Play"
              /></a>
            </dd>
            <dd class="h-min">
              <a
                class="inline-block h-auto w-[100px] focus:outline-none focus-visible:outline-[#F1A501]"
                href="#app-store"
                aria-label="App Store"
                title="App Store"
              >
                <img
                  src="/imgs/app-store.svg"
                  width="100"
                  height="35"
                  alt="App Store"
                  title="App Store"
                />
              </a>
            </dd>
          </dl>
        </div>
      </div>
      <div class="mt-[84px]">
        <p class="text-center text-[14px] leading-[19px]">
          <span>All rights</span>
          <a
            class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
            href="mailto:reserved@jadoo.co"
            >reserved@jadoo.co</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
