<header class="font-medium text-[#212832]">
  <div class="container xl:max-w-[1190px]">
    <div class="flex items-center py-[47px]">
      <a
        class="inline-block h-auto w-[114px] focus:outline-none focus-visible:outline-[#F1A501]"
        aria-current="page"
        aria-label="home"
        href="#home"
      >
        <img
          class="h-full w-full"
          src="/imgs/logo.svg"
          width="115"
          height="34"
          alt="Jadoo logo"
          loading="eager"
          title="Home"
        />
      </a>
      <nav class="ml-auto">
        <ul class="flex items-center gap-x-[55px]">
          <li class="flex">
            <a
              class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
              href="#destinations"
              >Destinations</a
            >
          </li>
          <li class="flex">
            <a
              class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
              href="#hotels"
              >Hotels</a
            >
          </li>
          <li class="flex">
            <a
              class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
              href="#flights"
              >Flights</a
            >
          </li>
          <li class="flex">
            <a
              class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
              href="#bookings"
              >Bookings</a
            >
          </li>
        </ul>
      </nav>
      <section class="ml-[86px] flex items-center gap-x-[52px]">
        <a
          class="inline-block transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
          href="#sign-in"
          >Sign In</a
        >
        <a
          class="flex min-h-[38px] items-center justify-center rounded-[5px] border border-[#212832] px-[21px] transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:border-[#F1A501] active:text-[#F1A501] md:hover:border-[#F1A501] md:hover:text-[#F1A501]"
          href="#sign-up"
          >Sign Up</a
        >
      </section>
      <section class="ml-[42px]">
        <button
          class="flex items-center gap-x-[7px] font-medium transition-colors duration-150 ease-in-out focus:outline-none focus-visible:outline-[#F1A501] active:text-[#F1A501] md:hover:text-[#F1A501]"
          aria-label="Language switcher"
          title="Language switcher"
        >
          <span>EN</span>
          <svg
            class="h-auto w-[12px] translate-y-[1px]"
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="6"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path stroke="currentColor" d="M.5.5L5 5 9.5.5"></path>
          </svg>
        </button>
      </section>
    </div>
  </div>
</header>
