<section>
  <div class="container xl:max-w-[1190px]">
    <div>
      <form
        class="relative z-10 pb-[78px] pt-[79px] before:absolute before:left-0 before:top-0 before:-z-[1] before:h-full before:w-full before:rounded-[129px_20px_20px_20px] before:bg-[#DFD7F9] before:content-['']"
        action="#mailing"
      >
        <fieldset class="flex justify-center">
          <legend class="mx-auto flex">
            <h2
              class="max-w-[859px] text-center text-[34px] font-semibold leading-[45px]"
            >
              Subscribe to get information, latest news and other interesting
              offers about Jadoo
            </h2>
          </legend>
          <div class="mt-[74px] flex items-center gap-x-[24px]">
            <input type="email" placeholder="Your email" />
            <button
              class="rounded-[10px] px-[50px] text-[16px] font-semibold leading-[21px] text-white"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
