<section>
  <div class="container xl:max-w-[1190px]">
    <div class="relative">
      <img
        class="absolute -right-[20px] -top-[13px] z-[2] h-auto w-[70px]"
        src="/imgs/mailing-form-decore-mail.svg"
        alt="Mailing form decore element"
        width="70"
        height="70"
        loading="lazy"
      />
      <form
        class="relative overflow-hidden rounded-[129px_20px_20px_20px] bg-[#F8F4FF] pb-[78px] pt-[79px]"
        action="#mailing"
      >
        <img
          class="absolute bottom-0 left-[13px] h-auto w-[371px] opacity-10"
          src="/imgs/mailing-form-decore-circle-bottom.svg"
          alt="Mailing form decore element"
          width="371"
          height="281"
          loading="lazy"
        />
        <img
          class="absolute right-0 top-0 h-auto w-[197px] opacity-10"
          src="/imgs/mailing-form-decore-circle-top.svg"
          alt="Mailing form decore element"
          width="200"
          height="285"
          loading="lazy"
        />
        <fieldset class="flex justify-center">
          <legend class="mx-auto flex">
            <h2
              class="max-w-[859px] text-center text-[34px] font-semibold leading-[45px]"
            >
              Subscribe to get information, latest news and other interesting
              offers about Jadoo
            </h2>
          </legend>
          <div class="mt-[74px] flex items-center gap-x-[24px]">
            <div class="relative">
              <svg
                class="pointer-events-none absolute left-[31px] top-2/4 -translate-y-2/4 text-[#39425D]"
                xmlns="http://www.w3.org/2000/svg"
                width="21"
                height="18"
                fill="none"
                viewBox="0 0 21 18"
              >
                <path
                  stroke="currentColor"
                  strokeLinecap="round"
                  d="M4 6l5.4 4.05a1 1 0 001.2 0L16 6"
                ></path>
                <rect
                  width="20"
                  height="17"
                  x="0.5"
                  y="0.5"
                  stroke="currentColor"
                  rx="4.5"
                ></rect>
              </svg>
              <input
                class="inline-block min-h-[68px] w-[421px] rounded-[10px] bg-white pl-[66px] pr-[31px] text-[14px] font-normal leading-[19px] text-[#39425D] placeholder:text-[#39425D] focus:outline-none focus-visible:outline-[#F1A501]"
                name="email"
                type="email"
                placeholder="Your email"
                required
              />
            </div>
            <button
              class="mailing-form-submit-btn min-h-[68px] rounded-[10px] px-[50px] text-[16px] font-semibold leading-[21px] text-white focus:outline-none focus-visible:outline-[#F1A501]"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </fieldset>
      </form>
      <img
        class="absolute -bottom-[70px] -right-[99px] h-auto w-[153px]"
        src="/imgs/mailing-form-decore-plus.svg"
        alt="Mailing form decore element"
        width="153"
        height="166"
        loading="lazy"
      />
    </div>
  </div>
</section>
