<section class="mt-[138px]">
  <div class="container xl:max-w-[1190px]">
    <div class="px-[45px]">
      <ul class="grid grid-cols-5 items-center gap-x-[50px]">
        <li class="flex">
          <a
            class="partners-partner-link flex min-h-[70px] w-full items-center justify-center rounded-[10px] bg-white transition-shadow duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
            href="#axon-airlines"
            aria-label="Axon Airlines"
            title="Axon Airlines"
          >
            <img
              class="h-auto w-[130px]"
              src="/imgs/axon-airlines.png"
              width="130"
              height="44"
              alt="Axon airlines"
              loading="eager"
            />
          </a>
        </li>
        <li class="flex">
          <a
            class="partners-partner-link flex min-h-[70px] w-full items-center justify-center rounded-[10px] bg-white transition-shadow duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
            href="#jetstar"
            aria-label="Jetstar"
            title="Jetstar"
          >
            <img
              class="h-auto w-[130px]"
              src="/imgs/jetstar.png"
              width="130"
              height="44"
              alt="Jetstar"
              loading="eager"
            />
          </a>
        </li>
        <li class="flex">
          <a
            class="partners-partner-link flex min-h-[70px] w-full items-center justify-center rounded-[10px] bg-white transition-shadow duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
            href="#expedia"
            aria-label="Expedia"
            title="Expedia"
          >
            <img
              class="h-auto w-[130px] grayscale-[1]"
              src="/imgs/expedia.png"
              width="130"
              height="44"
              alt="Expedia"
              loading="eager"
            />
          </a>
        </li>
        <li class="flex">
          <a
            class="partners-partner-link flex min-h-[70px] w-full items-center justify-center rounded-[10px] bg-white transition-shadow duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
            href="#qantas"
            aria-label="Qantas"
            title="Qantas"
          >
            <img
              class="h-auto w-[130px] grayscale-[1]"
              src="/imgs/qantas.png"
              width="130"
              height="44"
              alt="Qantas"
              loading="eager"
            />
          </a>
        </li>
        <li class="flex">
          <a
            class="partners-partner-link flex min-h-[70px] w-full items-center justify-center rounded-[10px] bg-white transition-shadow duration-300 ease-in-out focus:outline-none focus-visible:outline-[#F1A501]"
            href="#alitalia"
            aria-label="Alitalia"
            title="Alitalia"
          >
            <img
              class="h-auto w-[130px] grayscale-[1]"
              src="/imgs/alitalia.png"
              width="130"
              height="44"
              alt="Alitalia"
              loading="eager"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
