<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jadoo</title>
    <meta
      name="description"
      content="Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the."
    />
  </head>
  <body>
    <div>
      <header>
        <p>Header</p>
      </header>
      <main>{% block content %} {% endblock %}</main>
      <footer>
        <p>Footer</p>
      </footer>
    </div>
    <script type="module" src="/src/js/index.ts"></script>
  </body>
</html>
